/**
sky: #00aeef 
green: #00ddbe
sun: #ffac00 
coral: #ff5959
*/

/*  General stylesheet, theme agnostic */

#root {
  margin-top: 52px;
}

.main-content {
  min-height: calc(100vh - 172px);
}

/* Backgrounds */

.has-background-transparent {
  background: transparent !important;
}

/* Margins */

.margin-bottom {
  margin-bottom: 22px !important;
}

.margin-bottom-large {
  margin-bottom: 42px !important;
}

.margin-left {
  margin-left: 22px !important;
}

.margin-right {
  margin-right: 22px !important;
}

.margin-top {
  margin-top: 22px !important;
}

.margin-vertical {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

/* Padding */

.padded {
  padding: 22px !important;
}

.padded-large {
  padding: 2rem !important;
}

.padded-bottom {
  padding-bottom: 22px !important;
}

.padded-horizontal {
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.padded-left {
  padding-left: 22px !important;
}

.padded-right {
  padding-right: 22px !important;
}

.padded-top {
  padding-top: 22px !important;
}

.padded-vertical {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}

/* Padding */

.explanation-block {
  background-color: #fefefe;
  border-left: 16px solid #00aeef;
  color: #575757;
  padding: 3em 3em 3em 2em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(102,102,102,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(102,102,102,0.5);
  box-shadow: 0px 0px 10px 0px rgba(102,102,102,0.5);
}

.explanation-block h3 {
  color: #00aeef;
}

/* East Asian language styling */

:lang(zh),
:lang(zh-Hans) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

:lang(zh-Hant) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", "Helvetica Neue", sans-serif;
}

:lang(ja) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, "Helvetica Neue", sans-serif;
}

:lang(ko) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Malgun Gothic", "Helvetica Neue", sans-serif;
}

:lang(zh) ins,
:lang(zh) u,
:lang(ja) ins,
:lang(ja) u,
.cjk ins,
.cjk u {
  border-bottom: .05rem solid;
  text-decoration: none;
}

:lang(zh) del + del,
:lang(zh) del + s,
:lang(zh) ins + ins,
:lang(zh) ins + u,
:lang(zh) s + del,
:lang(zh) s + s,
:lang(zh) u + ins,
:lang(zh) u + u,
:lang(ja) del + del,
:lang(ja) del + s,
:lang(ja) ins + ins,
:lang(ja) ins + u,
:lang(ja) s + del,
:lang(ja) s + s,
:lang(ja) u + ins,
:lang(ja) u + u,
.cjk del + del,
.cjk del + s,
.cjk ins + ins,
.cjk ins + u,
.cjk s + del,
.cjk s + s,
.cjk u + ins,
.cjk u + u {
  margin-left: .125em;
}
